<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Payment Report"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Payment Report <small>Review Sacco Members Contribution For the Month</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="PaymentSummaryItemsListForm">
                <p:panelGrid columns="5">
                    <p:outputLabel value="Select Report"/>
                    <p:selectOneMenu id="paymentSummaryId" value="#{paymentSummaryController.selected}" required="true" requiredMessage="#{bundle.EditPaymentSummaryItemsRequiredMessage_paymentSummaryId}">
                        <f:selectItem itemLabel="Select One"/>
                        <f:selectItems value="#{paymentSummaryController.itemsAvailableSelectOne}"
                                       var="paymentSummaryIdItem" itemLabel="#{paymentSummaryIdItem.datePreparedStr}"
                                       itemValue="#{paymentSummaryIdItem}"/>
                        <p:ajax partialSubmit="true" update="datalist" event="change"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Print" icon="ui-icon-print" ajax="false" actionListener="#{paymentSummaryController.onPrintMonthlyReport()}"/>
                </p:panelGrid>
                <p:panel header="#{membersController.title}">
                    <p:dataTable id="datalist" value="#{paymentSummaryController.selected.paymentSummaryItemsCollection}" var="item"
                                 rowKey="#{item.id}"
                                 rowIndexVar="rowIndex"
                                 >
                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column filterBy="#{item.memberName.trimmedSurname}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_memberName}"/>
                            </f:facet>
                            <h:outputText value="#{item.memberName.surname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_paidShares}"/>
                            </f:facet>
                            <h:outputText value="#{item.paidShares}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_depositedAmount}"/>
                            </f:facet>
                            <h:outputText value="#{item.depositedAmount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_normalLoanPaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.normalLoanPaid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_normalLoanInterestPaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.normalLoanInterestPaid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_emergencyLoanPaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.emergencyLoanPaid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaymentSummaryItemsTitle_emergencyLoanInterestPaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.emergencyLoanInterestPaid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="WithDrawal"/>
                            </f:facet>
                            <h:outputText value="#{item.withdrawal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="WithDrawal Income"/>
                            </f:facet>
                            <h:outputText value="#{item.withdrawalincome}"/>
                        </p:column>                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Negotiation"/>
                            </f:facet>
                            <h:outputText value="#{item.negotiation}"/>
                        </p:column>                       
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Registration"/>
                            </f:facet>
                            <h:outputText value="#{item.registration}"/>
                        </p:column>
                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column footerText=""/>
                                <p:column footerText="Total"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalShares}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalDeposits}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalLoanNormal}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalLoanNormalInterest}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalLoanEmergency}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalEmergencyInterest}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalWithDrawal}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalWithDrawalIncome}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalNegotiationPaid}"/>
                                <p:column footerText="#{paymentSummaryController.selected.totalRegistrationPaid}"/>
                            </p:row>
                        </p:columnGroup>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
