<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccountStatusViewDlg" widgetVar="AccountStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAccountStatusTitle}">
            <h:form id="AccountStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{accountStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewAccountStatusLabel_id}"/>
                        <h:outputText value="#{accountStatusController.selected.id}" title="#{bundle.ViewAccountStatusTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAccountStatusLabel_status}"/>
                        <h:outputText value="#{accountStatusController.selected.status}" title="#{bundle.ViewAccountStatusTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AccountStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
