<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RemittanceEditDlg" widgetVar="RemittanceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRemittanceTitle}">
            <h:form id="RemittanceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{remittanceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRemittanceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{remittanceController.selected.id}" title="#{bundle.EditRemittanceTitle_id}" required="true" requiredMessage="#{bundle.EditRemittanceRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditRemittanceLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{remittanceController.selected.amount}" title="#{bundle.EditRemittanceTitle_amount}" required="true" requiredMessage="#{bundle.EditRemittanceRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditRemittanceLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{remittanceController.selected.date}" title="#{bundle.EditRemittanceTitle_date}" required="true" requiredMessage="#{bundle.EditRemittanceRequiredMessage_date}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditRemittanceLabel_scheduleId}" for="scheduleId" />
                        <p:selectOneMenu id="scheduleId" value="#{remittanceController.selected.scheduleId}" required="true" requiredMessage="#{bundle.EditRemittanceRequiredMessage_scheduleId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{loanSchedulesController.itemsAvailableSelectOne}"
                                           var="scheduleIdItem"
                                           itemValue="#{scheduleIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{remittanceController.update}" value="#{bundle.Save}" update="display,:RemittanceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RemittanceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RemittanceEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
