<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RemittanceViewDlg" widgetVar="RemittanceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRemittanceTitle}">
            <h:form id="RemittanceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{remittanceController.selected != null}">
                        <h:outputText value="#{bundle.ViewRemittanceLabel_id}"/>
                        <h:outputText value="#{remittanceController.selected.id}" title="#{bundle.ViewRemittanceTitle_id}"/>
                        <h:outputText value="#{bundle.ViewRemittanceLabel_amount}"/>
                        <h:outputText value="#{remittanceController.selected.amount}" title="#{bundle.ViewRemittanceTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewRemittanceLabel_date}"/>
                        <h:outputText value="#{remittanceController.selected.date}" title="#{bundle.ViewRemittanceTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRemittanceLabel_scheduleId}"/>
                        <h:outputText value="#{remittanceController.selected.scheduleId}" title="#{bundle.ViewRemittanceTitle_scheduleId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RemittanceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
