<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GenderViewDlg" widgetVar="GenderViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGenderTitle}">
            <h:form id="GenderViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{genderController.selected != null}">
                        <h:outputText value="#{bundle.ViewGenderLabel_idgender}"/>
                        <h:outputText value="#{genderController.selected.idgender}" title="#{bundle.ViewGenderTitle_idgender}"/>
                        <h:outputText value="#{bundle.ViewGenderLabel_gender}"/>
                        <h:outputText value="#{genderController.selected.gender}" title="#{bundle.ViewGenderTitle_gender}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GenderViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
