<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BankingsCreateDlg" widgetVar="BankingsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBankingsTitle}">
            <h:form id="BankingsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankingsController.selected != null}">                        
                        <p:outputLabel value="Date Collected" for="dateWhencol" />
                        <p:calendar id="dateWhencol" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{bankingsController.selected.dateCollected}" title="#{bundle.EditBankingsTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditBankingsRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="Date Banked" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{bankingsController.selected.dateBanked}" title="#{bundle.EditBankingsTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditBankingsRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateBankingsLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{bankingsController.selected.amount}" title="#{bundle.CreateBankingsTitle_amount}" required="true" requiredMessage="#{bundle.CreateBankingsRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.CreateBankingsLabel_slipNo}" for="slipNo" />
                        <p:inputText id="slipNo" value="#{bankingsController.selected.slipNo}" title="#{bundle.CreateBankingsTitle_slipNo}" required="true" requiredMessage="#{bundle.CreateBankingsRequiredMessage_slipNo}"/>
                        <p:outputLabel value="#{bundle.CreateBankingsLabel_comments}" for="comments" />
                        <p:inputText id="comments" value="#{bankingsController.selected.comments}" title="#{bundle.CreateBankingsTitle_comments}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bankingsController.create}" value="#{bundle.Save}" update="display,:BankingsListForm:datalist,:growl" oncomplete="handleSubmit(args,'BankingsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BankingsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
