<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BankingsViewDlg" widgetVar="BankingsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBankingsTitle}">
            <h:form id="BankingsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankingsController.selected != null}">
                        <h:outputText value="#{bundle.ViewBankingsLabel_id}"/>
                        <h:outputText value="#{bankingsController.selected.id}" title="#{bundle.ViewBankingsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBankingsLabel_dateWhen}"/>
                        <h:outputText value="#{bankingsController.selected.dateWhen}" title="#{bundle.ViewBankingsTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBankingsLabel_amount}"/>
                        <h:outputText value="#{bankingsController.selected.amount}" title="#{bundle.ViewBankingsTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewBankingsLabel_slipNo}"/>
                        <h:outputText value="#{bankingsController.selected.slipNo}" title="#{bundle.ViewBankingsTitle_slipNo}"/>
                        <h:outputText value="#{bundle.ViewBankingsLabel_comments}"/>
                        <h:outputText value="#{bankingsController.selected.comments}" title="#{bundle.ViewBankingsTitle_comments}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BankingsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
