<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GuarantorsCreateDlg" widgetVar="GuarantorsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateGuarantorsTitle}">
            <h:form id="GuarantorsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{guarantorsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateGuarantorsLabel_guaranteedAmount}" for="guaranteedAmount" />
                        <p:inputText id="guaranteedAmount" value="#{guarantorsController.selected.guaranteedAmount}" title="#{bundle.CreateGuarantorsTitle_guaranteedAmount}" required="true" requiredMessage="#{bundle.CreateGuarantorsRequiredMessage_guaranteedAmount}"/>
                        <p:outputLabel value="#{bundle.CreateGuarantorsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{guarantorsController.selected.id}" title="#{bundle.CreateGuarantorsTitle_id}" required="true" requiredMessage="#{bundle.CreateGuarantorsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateGuarantorsLabel_guarantorId}" for="guarantorId" />
                        <p:selectOneMenu id="guarantorId" value="#{guarantorsController.selected.guarantorId}" required="true" requiredMessage="#{bundle.EditGuarantorsRequiredMessage_guarantorId}">
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="guarantorIdItem"
                                           itemValue="#{guarantorIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateGuarantorsLabel_loanId}" for="loanId" />
                        <p:selectOneMenu id="loanId" value="#{guarantorsController.selected.loanId}" required="true" requiredMessage="#{bundle.EditGuarantorsRequiredMessage_loanId}">
                            <f:selectItems value="#{loanController.itemsAvailableSelectOne}"
                                           var="loanIdItem"
                                           itemValue="#{loanIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{guarantorsController.create}" value="#{bundle.Save}" update="display,:GuarantorsListForm:datalist,:growl" oncomplete="handleSubmit(args,'GuarantorsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GuarantorsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
