<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GuarantorsViewDlg" widgetVar="GuarantorsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGuarantorsTitle}">
            <h:form id="GuarantorsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{guarantorsController.selected != null}">
                        <h:outputText value="#{bundle.ViewGuarantorsLabel_guaranteedAmount}"/>
                        <h:outputText value="#{guarantorsController.selected.guaranteedAmount}" title="#{bundle.ViewGuarantorsTitle_guaranteedAmount}"/>
                        <h:outputText value="#{bundle.ViewGuarantorsLabel_id}"/>
                        <h:outputText value="#{guarantorsController.selected.id}" title="#{bundle.ViewGuarantorsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewGuarantorsLabel_guarantorId}"/>
                        <h:outputText value="#{guarantorsController.selected.guarantorId}" title="#{bundle.ViewGuarantorsTitle_guarantorId}"/>
                        <h:outputText value="#{bundle.ViewGuarantorsLabel_loanId}"/>
                        <h:outputText value="#{guarantorsController.selected.loanId}" title="#{bundle.ViewGuarantorsTitle_loanId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GuarantorsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
