<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MembersDepositDlg" widgetVar="MembersDepositDialog" modal="true" resizable="false" appendTo="@(body)" header="Transfer Cash">
            <h:form id="MembersDepositForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.selected != null}">
                        <p:outputLabel value="Withdrawable for member"/>
                        <p:outputLabel value="#{membersController.selected.totalDepositWithrawable}"/>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{membersController.moneyTransfer.amount}" title="#{bundle.CreateLoanTitle_amount}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_amount}"/>                        
                   </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.saveDeposit()}" value="#{bundle.Save}" update="display,:MembersListForm:datalist,:MembersListForm:datalists,:growl" oncomplete="handleSubmit(args,'MembersDepositDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MembersDepositDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
