<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMembersTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Members <small>Manage Sacco Members</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="MembersListForm">
                <p:dataTable id="datalist" value="#{membersController.items}" var="item"
                             selectionMode="single" selection="#{membersController.selected}"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="30"
                             rowsPerPageTemplate="10,20,30,40,50"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             >

                    <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                    <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column filterBy="#{item.trimmedSurname}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListMembersTitle_surname}"/>
                        </f:facet>
                        <h:outputText value="#{item.surname}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListMembersTitle_idNo}"/>
                        </f:facet>
                        <h:outputText value="#{item.idNo}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListMembersTitle_regDate}"/>
                        </f:facet>
                        <h:outputText value="#{item.regDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Acc Status"/>
                        </f:facet>
                        <h:outputText value="#{item.membershipStatus}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Guaranteed Loans"/>
                        </f:facet>
                        <h:outputText value="#{item.noOfGuaranteedLoans}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Guaranteed Loans Amount"/>
                        </f:facet>
                        <h:outputText value="#{item.amountOfGuaranteedLoans}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Priority Acc"/>
                        </f:facet>
                        <h:outputText value="#{item.priorityAccount.option}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{membersController.prepareCreate}" update=":MembersCreateForm" oncomplete="PF('MembersCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MembersViewForm" oncomplete="PF('MembersViewDialog').show()" disabled="#{empty membersController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MembersEditForm" oncomplete="PF('MembersEditDialog').show()" disabled="#{empty membersController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{membersController.destroy}" update=":growl,datalist" disabled="#{empty membersController.selected}"/>
                    </f:facet>
                </p:dataTable>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
