<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="DepositCashCreateDlgloan" widgetVar="DepositCashCreateDialogloan" modal="true" closable="false" resizable="false" appendTo="@(body)" header="Pay Loan">
            <h:form id="DepositCashCreateFormloan">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.depo != null}">
                        <p:outputLabel value="Amount" for="chequeNo" />
                        <p:inputText id="chequeNo" value="#{membersController.depo.amount}" title="#{bundle.CreateDepositCashTitle_chequeNo}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_chequeNo}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_loanId}" for="loanId" />
                        <p:selectOneMenu id="loanId" value="#{membersController.loan}" required="true" requiredMessage="#{bundle.EditLoanSchedulesRequiredMessage_loanId}">
                            <f:selectItems value="#{membersController.selected.loanCollection}"
                                           var="loanIdItem" itemLabel="#{loanIdItem.loantype.loanType}"
                                           itemValue="#{loanIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.payLoanFromDeposit()}" value="#{bundle.Save}" update="display,:MembersListForm,:growl" oncomplete="handleSubmit(args,'DepositCashCreateDialogloan');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DepositCashCreateDialogloan.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
