<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepositCashCreateDlg" widgetVar="DepositCashCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="Cash WithDrawal">
            <h:form id="DepositCashCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.depo != null}">
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_date}" for="date" />
                        <p:calendar  pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" id="date" value="#{membersController.depo.date}" title="#{bundle.CreateDepositCashTitle_date}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_date}"/>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_description}" for="description" />
                        <p:inputText id="description" value="#{membersController.depo.description}" title="#{bundle.CreateDepositCashTitle_description}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_description}"/>
                        <p:outputLabel value="Amount" for="chequeNo" />
                        <p:inputText id="chequeNo" value="#{membersController.depo.amount}" title="#{bundle.CreateDepositCashTitle_chequeNo}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_chequeNo}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.createWithDrawal()}" value="#{bundle.Save}" update="display,:MembersListForm:datalists,:growl" oncomplete="handleSubmit(args,'DepositCashCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DepositCashCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
