<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Members Profile"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="MembersListForm">
                <p:panelGrid columns="5">
                    <p:outputLabel value="#{bundle.CreateLoanLabel_memeberId}" for="memeberId" />
                    <p:selectOneMenu filter="true" filterMatchMode="startsWith" id="memeberId" value="#{membersController.selected}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_memeberId}">
                        <f:selectItem itemLabel="Select One"/>
                        <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                       var="memeberIdItem" itemLabel="#{memeberIdItem.trimmedSurname}"
                                       itemValue="#{memeberIdItem}"/>
                        <p:ajax partialSubmit="true" update="MembersListForm" event="change"/>
                    </p:selectOneMenu>      
                    <p:commandButton value="Refresh" update=":MembersListForm" actionListener="#{membersController.updateMember}"/>
                    <p:button id="collections" outcome="members_collections" value="Members Collections" disabled="#{empty membersController.selected}"/>
                    <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Close Account" update=":MembersWithdrawForm" oncomplete="PF('MembersWithdrawDialog').show()" disabled="#{membersController.selected.isactive}"/>
                </p:panelGrid>
                <div class="row" >
                    <div class="col-lg-12" id="data">
                        <div class="col-lg-5">
                            <p:panel header="Members Deposits">
                                <p:dataTable id="datalists" value="#{membersController.selected.depositCashCollection}" var="itemdepo"
                                             paginator="true"
                                             rows="10"
                                             rowsPerPageTemplate="10,20,30,40,50"
                                             paginatorPosition="bottom"
                                             rowIndexVar="rowIndex"
                                             >
                                    <p:column style="width: 30px">
                                        <f:facet name="header">
                                            <h:outputText value="NO."/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>                        
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Date"/>
                                        </f:facet>
                                        <h:outputText value="#{itemdepo.date}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                        </h:outputText>
                                    </p:column> 
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Receipt No"/>
                                        </f:facet>
                                        <h:outputText value="#{itemdepo.chequeNo}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Desc"/>
                                        </f:facet>
                                        <h:outputText value="#{itemdepo.description}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Amount"/>
                                        </f:facet>
                                        <h:outputText value="#{itemdepo.amount}"/>
                                    </p:column>
                                    <p:columnGroup type="footer">
                                        <p:row>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText="Total WithDrawable"/>
                                            <p:column footerText="#{membersController.selected.totalDepositWithrawable}"/>   
                                        </p:row>
                                        <p:row>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText="Total Non withdrawable"/>
                                            <p:column footerText="#{membersController.selected.totalDepositNonWithrawable}"/>
                                        </p:row>
                                        <p:row>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText="Total"/>
                                            <p:column footerText="#{membersController.selected.totalDeposit}"/>   
                                        </p:row>
                                    </p:columnGroup>
                                </p:dataTable>
                            </p:panel>
                        </div>
                        <div class="col-lg-7">
                            <p:panel header="Members Loans">
                                <p:dataTable id="datalistloan" value="#{membersController.selected.loanCollection}" var="item"
                                             selectionMode="single" selection="#{membersController.loan}"
                                             paginator="true"
                                             rowKey="#{item.loanId}"
                                             rows="10"
                                             rowsPerPageTemplate="10,20,30,40,50"
                                             paginatorPosition="bottom"
                                             rowIndexVar="rowIndex"
                                             >

                                    <p:ajax event="rowSelect"   update="createButton statement recover"/>
                                    <p:ajax event="rowUnselect" update="createButton statement recover"/>

                                    <p:column style="width: 30px">
                                        <f:facet name="header">
                                            <h:outputText value="NO."/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>                        
                                    </p:column> 
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Type"/>
                                        </f:facet>
                                        <h:outputText value="#{item.loantype.loanType}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListLoanTitle_loanStatus}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.loanStatus.status}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListLoanTitle_issueDate}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.issueDate}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListLoanTitle_amount}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.amount}"/>
                                    </p:column>                                                                        
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Collected"/>
                                        </f:facet>
                                        <h:outputText value="#{item.collected}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Bal"/>
                                        </f:facet>
                                        <h:outputText value="#{item.balEst}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Interest Earned"/>
                                        </f:facet>
                                        <h:outputText value="#{item.totalInterestEarned}"/>
                                    </p:column> 
                                    <p:columnGroup type="footer">
                                        <p:row>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText=""/>
                                            <p:column footerText="Total"/>
                                            <p:column footerText="#{membersController.selected.totalLoans}"/>
                                            <p:column footerText="#{membersController.selected.totalUnAccounted}"/>                                    
                                            <p:column footerText="#{membersController.selected.totalUnpaidLoan}"/>                                   
                                            <p:column footerText="#{membersController.selected.totalLoansInterestPaid}"/>
                                        </p:row>
                                    </p:columnGroup>
                                    <f:facet name="footer">
                                        <p:button id="statement" outcome="loan/profile" value="Loan Statement" disabled="#{empty membersController.loan}"/>
                                        <p:commandButton id="createButton" icon="ui-icon-plus"  disabled="#{membersController.selected.canWitDraw==true}" value="#{bundle.Create}" actionListener="#{membersController.prepareCreateLoan}" update=":LoanCreateForm" oncomplete="PF('LoanCreateDialog').show()"/>                                         
                                        <p:commandButton id="recover" icon="ui-icon-plus"  disabled="#{empty membersController.loan}" value="Recover Loan" update=":LoanPayForm" oncomplete="PF('LoanPayDialog').show()"/>                             
                                    </f:facet>
                                </p:dataTable>
                            </p:panel>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-12" id="data">
                        <div class="col-lg-6">
                            <p:panel header="Guarenteed Loans">
                                <p:dataTable id="loansguaranteed" 
                                             value="#{membersController.selected.guarantorsCollection}" 
                                             var="itemg"
                                             paginator="true"
                                             rows="10"
                                             rowsPerPageTemplate="10,20,30,40,50"
                                             paginatorPosition="bottom"
                                             rowIndexVar="rowIndex">
                                    <p:column style="width: 30px">
                                        <f:facet name="header">
                                            <h:outputText value="NO."/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>                        
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Guaranteed Name"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.loanId.memeberId.surname}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Balance"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.loanId.balEst}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Loan Amount"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.loanId.amount}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Guartd Amnt"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.guaranteedAmount}"/>
                                    </p:column>
                                    <p:column footerText="#{membersController.selected.totalRecoverableFromLoan}">
                                        <f:facet name="header">
                                            <h:outputText value="Recoverable Amnt"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.recoveryEst}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                        </div>
                    </div>
                </div>
            </h:form>
            <ui:include src="withdraw.xhtml"/>
            <ui:include src="loan/loanPay.xhtml"/>
            <ui:include src="loan/Create.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
