<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Members Statement"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PaymentSummaryItemsListForm">
                <p:button id="statement" outcome="/admin/members/profile" value="Back"/>
                <p:commandButton actionListener="#{membersController.onPrint}" value="Print" icon="ui-icon-print" ajax="false" />
                <p:dataTable id="datalist" value="#{membersController.selected.paymentSummaryItemsCollection}" var="item"
                             rowKey="#{item.id}"
                             rowIndexVar="rowIndex"
                             >
                    <f:facet name="header">
                        <h:outputText value="#{membersController.titleMember}"/>
                    </f:facet>
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" headerText="No" style="width:3%;font-size: 11px"/>
                            <p:column rowspan="2" headerText="Date" style="font-size: 11px" />
                            <p:column style="font-size: 11px" colspan="3" headerText="Shares"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Deposits"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Normal Loan"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Interest Normal Loan"/>
                            <p:column style="font-size: 11px" colspan="3" headerText="Emergency Loan"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Interest Emergency Loan"/> 
                        </p:row>
                        <p:row>
                            <p:column style="font-size: 11px" headerText="Received" />
                            <p:column style="font-size: 11px" headerText="Withdrawn" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Received" />
                            <p:column style="font-size: 11px" headerText="Withdrawn" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Loaned" />
                            <p:column style="font-size: 11px" headerText="Repayed" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Charged" />
                            <p:column style="font-size: 11px" headerText="Paid" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Loaned" />
                            <p:column style="font-size: 11px" headerText="Repayed" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Charged" />
                            <p:column style="font-size: 11px" headerText="Paid" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                        </p:row>
                    </p:columnGroup>
                    <p:column style="width: 30px;font-size: 11px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.paymentSummaryId.datePreparedStr}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.paidShares}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.withdrawnSharesAmount}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.sharesBalance}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.depositedAmount}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.withdrawnDepositsAmount}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.depositsTotal}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.loaned}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.totalLoanPaidNormal}"/>
                    </p:column>                        
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.loanBalance}"/>
                    </p:column>                      
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.interestCharged}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.totalInterestPaidNormal}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.interestBalance}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.loanedemergency}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.totalLoanPaidEmergency}"/>
                    </p:column>                        
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.loanBalanceEmergency}"/>
                    </p:column>                      
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.interestChargedEmergency}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.totalInterestPaidEmergency}"/>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.interestBalanceEmergency}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
