<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MembersViewDlg" widgetVar="MembersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMembersTitle}">
            <h:form id="MembersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="4" rendered="#{membersController.selected != null}">
                        <h:outputText value="#{bundle.ViewMembersLabel_memberNo}"/>
                        <h:outputText value="#{membersController.selected.memberNo}" title="#{bundle.ViewMembersTitle_memberNo}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_surname}"/>
                        <h:outputText value="#{membersController.selected.surname}" title="#{bundle.ViewMembersTitle_surname}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_otherNames}"/>
                        <h:outputText value="#{membersController.selected.otherNames}" title="#{bundle.ViewMembersTitle_otherNames}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_residence}"/>
                        <h:outputText value="#{membersController.selected.residence}" title="#{bundle.ViewMembersTitle_residence}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_idNo}"/>
                        <h:outputText value="#{membersController.selected.idNo}" title="#{bundle.ViewMembersTitle_idNo}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_dob}"/>
                        <h:outputText value="#{membersController.selected.dob}" title="#{bundle.ViewMembersTitle_dob}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewMembersLabel_regDate}"/>
                        <h:outputText value="#{membersController.selected.regDate}" title="#{bundle.ViewMembersTitle_regDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewMembersLabel_address}"/>
                        <h:outputText value="#{membersController.selected.address}" title="#{bundle.ViewMembersTitle_address}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_phone}"/>
                        <h:outputText value="#{membersController.selected.phone}" title="#{bundle.ViewMembersTitle_phone}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_altphone}"/>
                        <h:outputText value="#{membersController.selected.altphone}" title="#{bundle.ViewMembersTitle_altphone}"/>
                        <h:outputText value="#{bundle.ViewMembersLabel_gender}"/>
                        <h:outputText value="#{membersController.selected.gender.gender}" title="#{bundle.ViewMembersTitle_gender}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MembersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
