<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Ledger Accounts"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="SaccoLedgerEntriesListForm">
                <p:panelGrid columns="8">
                    <p:outputLabel value="#{bundle.CreateSaccoLedgerEntriesLabel_ledgerId}" for="ledgerId" />
                    <p:selectOneMenu filter="true" id="ledgerId" value="#{saccoLedgersController.selected}" required="true" requiredMessage="#{bundle.EditSaccoLedgerEntriesRequiredMessage_ledgerId}">
                        <f:selectItems value="#{saccoLedgersController.itemsAvailableSelectOne}"
                                       var="ledgerIdItem" itemLabel="#{ledgerIdItem.name}"
                                       itemValue="#{ledgerIdItem}"/>
                        <p:ajax partialSubmit="true" update="datalist" event="change"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <p:dataTable id="datalist" value="#{saccoLedgersController.selected.saccoLedgerEntriesCollection}" var="item"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="30"
                             rowsPerPageTemplate="10,20,30,40,50"
                             rowIndexVar="rowIndex"
                             rowStyleClass="#{item.isBcf le false ?  true: 'colored'}"
                             paginatorPosition="bottom"
                             >
                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Date"/>
                        </f:facet>
                        <h:outputText value="#{item.dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi"/>
                        </h:outputText>
                    </p:column>                        
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Description"/>
                        </f:facet>
                        <h:outputText value="#{item.particulars}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSaccoLedgerEntriesTitle_dr}"/>
                        </f:facet>
                        <h:outputText value="#{item.dr}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSaccoLedgerEntriesTitle_cr}"/>
                        </f:facet>
                        <h:outputText value="#{item.cr}"/>
                    </p:column>
                    <!--                        <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="#{bundle.ListCollectionsTitle_statusBilled}"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox value="#{item.statusBilled}" disabled="true"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Is General"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox value="#{item.isGeneral}" disabled="true"/>
                                            </p:column>-->
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
