<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccountTransitionsCreateDlg" widgetVar="AccountTransitionsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAccountTransitionsTitle}">
            <h:form id="AccountTransitionsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{accountTransitionsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAccountTransitionsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{accountTransitionsController.selected.id}" title="#{bundle.CreateAccountTransitionsTitle_id}" required="true" requiredMessage="#{bundle.CreateAccountTransitionsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateAccountTransitionsLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{accountTransitionsController.selected.dateWhen}" title="#{bundle.EditAccountTransitionsTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateAccountTransitionsLabel_comments}" for="comments" />
                        <p:inputTextarea rows="4" cols="30" id="comments" value="#{accountTransitionsController.selected.comments}" title="#{bundle.CreateAccountTransitionsTitle_comments}" required="true" requiredMessage="#{bundle.CreateAccountTransitionsRequiredMessage_comments}"/>
                        <p:outputLabel value="#{bundle.CreateAccountTransitionsLabel_account}" for="account" />
                        <p:selectOneMenu id="account" value="#{accountTransitionsController.selected.account}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_account}">
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="accountItem"
                                           itemValue="#{accountItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAccountTransitionsLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{accountTransitionsController.selected.status}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_status}">
                            <f:selectItems value="#{accountStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{accountTransitionsController.create}" value="#{bundle.Save}" update="display,:AccountTransitionsListForm:datalist,:growl" oncomplete="handleSubmit(args,'AccountTransitionsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AccountTransitionsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
