<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccountTransitionsEditDlg" widgetVar="AccountTransitionsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAccountTransitionsTitle}">
            <h:form id="AccountTransitionsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{accountTransitionsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAccountTransitionsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{accountTransitionsController.selected.id}" title="#{bundle.EditAccountTransitionsTitle_id}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditAccountTransitionsLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{accountTransitionsController.selected.dateWhen}" title="#{bundle.EditAccountTransitionsTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditAccountTransitionsLabel_comments}" for="comments" />
                        <p:inputTextarea rows="4" cols="30" id="comments" value="#{accountTransitionsController.selected.comments}" title="#{bundle.EditAccountTransitionsTitle_comments}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_comments}"/>
                        <p:outputLabel value="#{bundle.EditAccountTransitionsLabel_account}" for="account" />
                        <p:selectOneMenu id="account" value="#{accountTransitionsController.selected.account}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_account}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="accountItem"
                                           itemValue="#{accountItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAccountTransitionsLabel_status}" for="status" />
                        <p:selectOneMenu id="status" value="#{accountTransitionsController.selected.status}" required="true" requiredMessage="#{bundle.EditAccountTransitionsRequiredMessage_status}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{accountStatusController.itemsAvailableSelectOne}"
                                           var="statusItem"
                                           itemValue="#{statusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{accountTransitionsController.update}" value="#{bundle.Save}" update="display,:AccountTransitionsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AccountTransitionsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AccountTransitionsEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
