<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentModesCreateDlg" widgetVar="PaymentModesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePaymentModesTitle}">
            <h:form id="PaymentModesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentModesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePaymentModesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{paymentModesController.selected.id}" title="#{bundle.CreatePaymentModesTitle_id}" required="true" requiredMessage="#{bundle.CreatePaymentModesRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreatePaymentModesLabel_paymentMode}" for="paymentMode" />
                        <p:inputText id="paymentMode" value="#{paymentModesController.selected.paymentMode}" title="#{bundle.CreatePaymentModesTitle_paymentMode}" required="true" requiredMessage="#{bundle.CreatePaymentModesRequiredMessage_paymentMode}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paymentModesController.create}" value="#{bundle.Save}" update="display,:PaymentModesListForm:datalist,:growl" oncomplete="handleSubmit(args,'PaymentModesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PaymentModesCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
