<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentModesEditDlg" widgetVar="PaymentModesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPaymentModesTitle}">
            <h:form id="PaymentModesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentModesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPaymentModesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{paymentModesController.selected.id}" title="#{bundle.EditPaymentModesTitle_id}" required="true" requiredMessage="#{bundle.EditPaymentModesRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditPaymentModesLabel_paymentMode}" for="paymentMode" />
                        <p:inputText id="paymentMode" value="#{paymentModesController.selected.paymentMode}" title="#{bundle.EditPaymentModesTitle_paymentMode}" required="true" requiredMessage="#{bundle.EditPaymentModesRequiredMessage_paymentMode}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paymentModesController.update}" value="#{bundle.Save}" update="display,:PaymentModesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PaymentModesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PaymentModesEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
