<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentModesViewDlg" widgetVar="PaymentModesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPaymentModesTitle}">
            <h:form id="PaymentModesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentModesController.selected != null}">
                        <h:outputText value="#{bundle.ViewPaymentModesLabel_id}"/>
                        <h:outputText value="#{paymentModesController.selected.id}" title="#{bundle.ViewPaymentModesTitle_id}"/>
                        <h:outputText value="#{bundle.ViewPaymentModesLabel_paymentMode}"/>
                        <h:outputText value="#{paymentModesController.selected.paymentMode}" title="#{bundle.ViewPaymentModesTitle_paymentMode}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PaymentModesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
