<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SystemSettingsCreateDlg" widgetVar="SystemSettingsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSystemSettingsTitle}">
            <h:form id="SystemSettingsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{systemSettingsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSystemSettingsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{systemSettingsController.selected.id}" title="#{bundle.CreateSystemSettingsTitle_id}" required="true" requiredMessage="#{bundle.CreateSystemSettingsRequiredMessage_id}"/>
                        <p:outputLabel value="Title" for="Title" />
                        <p:inputText id="Title" value="#{systemSettingsController.selected.title}" title="#{bundle.CreateSystemSettingsTitle_Title}" required="true" requiredMessage="#{bundle.CreateSystemSettingsRequiredMessage_Title}"/>
                        <p:outputLabel value="#{bundle.CreateSystemSettingsLabel_value}" for="value" />
                        <p:inputText id="value" value="#{systemSettingsController.selected.value}" title="#{bundle.CreateSystemSettingsTitle_value}" required="true" requiredMessage="#{bundle.CreateSystemSettingsRequiredMessage_value}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{systemSettingsController.create}" value="#{bundle.Save}" update="display,:SystemSettingsListForm:datalist,:growl" oncomplete="handleSubmit(args,'SystemSettingsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SystemSettingsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
