<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FixedAssetEditDlg" widgetVar="FixedAssetEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFixedAssetTitle}">
            <h:form id="FixedAssetEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{fixedAssetController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFixedAssetLabel_name}" for="name" />
                        <p:inputText id="name" value="#{fixedAssetController.selected.name}" title="#{bundle.EditFixedAssetTitle_name}" required="true" requiredMessage="#{bundle.EditFixedAssetRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditFixedAssetLabel_value}" for="value" />
                        <p:inputText id="value" value="#{fixedAssetController.selected.value}" title="#{bundle.EditFixedAssetTitle_value}" required="true" requiredMessage="#{bundle.EditFixedAssetRequiredMessage_value}"/>
                        <p:outputLabel value="#{bundle.EditFixedAssetLabel_depreciationPerYear}" for="depreciationPerYear" />
                        <p:inputText id="depreciationPerYear" value="#{fixedAssetController.selected.depreciationPerYear}" title="#{bundle.EditFixedAssetTitle_depreciationPerYear}" required="true" requiredMessage="#{bundle.EditFixedAssetRequiredMessage_depreciationPerYear}"/>
                        <p:outputLabel value="#{bundle.EditFixedAssetLabel_description}" for="description" />
                        <p:inputText id="description" value="#{fixedAssetController.selected.description}" title="#{bundle.EditFixedAssetTitle_description}" required="true" requiredMessage="#{bundle.EditFixedAssetRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.EditFixedAssetLabel_dateAcquired}" for="dateAcquired" />
                        <p:calendar id="dateAcquired" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{fixedAssetController.selected.dateAcquired}" title="#{bundle.EditFixedAssetTitle_dateAcquired}" required="true" requiredMessage="#{bundle.EditFixedAssetRequiredMessage_dateAcquired}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{fixedAssetController.update}" value="#{bundle.Save}" update="display,:FixedAssetListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FixedAssetEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FixedAssetEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
