<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FixedAssetViewDlg" widgetVar="FixedAssetViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFixedAssetTitle}">
            <h:form id="FixedAssetViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{fixedAssetController.selected != null}">
                        <h:outputText value="#{bundle.ViewFixedAssetLabel_name}"/>
                        <h:outputText value="#{fixedAssetController.selected.name}" title="#{bundle.ViewFixedAssetTitle_name}"/>
                        <h:outputText value="#{bundle.ViewFixedAssetLabel_value}"/>
                        <h:outputText value="#{fixedAssetController.selected.value}" title="#{bundle.ViewFixedAssetTitle_value}"/>
                        <h:outputText value="#{bundle.ViewFixedAssetLabel_depreciationPerYear}"/>
                        <h:outputText value="#{fixedAssetController.selected.depreciationPerYear}" title="#{bundle.ViewFixedAssetTitle_depreciationPerYear}"/>
                        <h:outputText value="#{bundle.ViewFixedAssetLabel_description}"/>
                        <h:outputText value="#{fixedAssetController.selected.description}" title="#{bundle.ViewFixedAssetTitle_description}"/>
                        <h:outputText value="#{bundle.ViewFixedAssetLabel_dateAcquired}"/>
                        <h:outputText value="#{fixedAssetController.selected.dateAcquired}" title="#{bundle.ViewFixedAssetTitle_dateAcquired}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FixedAssetViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
