<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListCollectionsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="CollectionsListForm">
                <p:dataTable id="datalist" value="#{membersController.loanCollections}" var="item"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="30"
                             rowsPerPageTemplate="10,20,30,40,50"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             >

                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column filterBy="#{item.amount}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListCollectionsTitle_amount}"/>
                        </f:facet>
                        <h:outputText value="#{item.amount}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListCollectionsTitle_dateCollected}"/>
                        </f:facet>
                        <h:outputText value="#{item.dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:column>
                    <p:column filterBy="#{item.memberId.trimmedSurname}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListCollectionsTitle_memberId}"/>
                        </f:facet>
                        <h:outputText value="#{item.memberId.surname}"/>
                    </p:column>                    
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Receipt Type"/>
                        </f:facet>
                        <h:outputText value="#{item.collectionstype.type}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
