<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog style="width: 300px" id="LoanCreateDlg" widgetVar="LoanCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLoanTitle}">
            <p:ajax event="close" oncomplete="PF('wiz').loadStep(PF('wiz').cfg.steps [0], true)"/>
            <h:form id="LoanCreateForm">
                <h:panelGroup id="display">
                    <p:wizard flowListener="#{loanController.onFlowProcess}" widgetVar="wiz" >
                        <p:tab id="one" title="Loan Details">
                            <p:panelGrid columns="2" rendered="#{membersController.loan != null}">
                                <p:outputLabel value="#{bundle.CreateLoanLabel_amount}" for="amount" />
                                <p:inputText id="amount" value="#{membersController.loan.amount}" title="#{bundle.CreateLoanTitle_amount}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_amount}"/>
                                <p:outputLabel value="#{bundle.CreateLoanLabel_duration}" for="duration" />
                                <p:inputText id="duration" value="#{membersController.loan.duration}" title="#{bundle.CreateLoanTitle_duration}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_duration}"/>
                                <p:outputLabel value="#{bundle.CreateLoanLabel_issueDate}" for="issueDate" />
                                <p:calendar id="issueDate" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.loan.issueDate}" title="#{bundle.CreateLoanTitle_issueDate}"  required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_issueDate}" showOn="button"/>
                                <p:outputLabel value="Loan Type" for="loanType" />
                                <p:selectOneMenu id="loanType" value="#{membersController.loan.loantype}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_memeberId}">
                                    <f:selectItems value="#{membersController.loanTypes}"
                                                   var="loanType" itemLabel="#{loanType.loanType}"
                                                   itemValue="#{loanType}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="No Of Guarantors" for="amountg" />
                                <p:inputText id="amountg" value="#{membersController.noOfGuarantors}" title="#{bundle.CreateLoanTitle_amount}">
                                    <p:ajax partialSubmit="true"/>
                                </p:inputText>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab id="two" title="Guarantors">
                            <p:dataTable style="width: 500px;"  var="item" id="datalist" rowIndexVar="rowIndex"
                                         editable="true"
                                         editMode="row" value="#{membersController.guarators}">

                                <p:ajax event="rowEdit" listener="#{membersController.onRowEdit}" update=":LoanCreateForm:datalist,:growl" />
                                <p:ajax event="rowEditCancel" listener="#{membersController.onRowCancel}" update=":LoanCreateForm:datalist,:growl" />

                                <p:column style="width: 30px">
                                    <f:facet name="header">
                                        <h:outputText value="NO."/>
                                    </f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>                        
                                </p:column>
                                <p:column headerText="Guarantor" footerText="Total">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{item.guarantorId.surname}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:selectOneMenu filter="true" id="guarantorId" value="#{item.guarantorId}" required="true" requiredMessage="guarantor required">
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                                               var="guarantorIdItem" itemLabel="#{guarantorIdItem.trimmedSurname}"
                                                               itemValue="#{guarantorIdItem}"/>
                                                <p:ajax partialSubmit="true"/>
                                            </p:selectOneMenu>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column> 
                                <p:column headerText="Guaranteed Amount" footerText="#{membersController.totalForAllGuarantor}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{item.guaranteedAmount}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText id="en" value="#{item.guaranteedAmount}" style="width:100%">
                                                <p:ajax partialSubmit="true" update=":LoanCreateForm:datalist"/>
                                            </p:inputText>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="width:32px">
                                    <p:rowEditor />
                                </p:column>
                            </p:dataTable>
                            <p:commandButton actionListener="#{membersController.createLoan}" value="#{bundle.Save}" update="display,:MembersListForm,:growl" oncomplete="handleSubmit(args,'LoanCreateDialog');"/>
                        </p:tab>
                    </p:wizard>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoanCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
