<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog style="width: 300px" id="LoanPayDlg" widgetVar="LoanPayDialog" modal="true" resizable="false" appendTo="@(body)" header="Loan Revovery From Guarantors">
            <h:form id="LoanPayForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.loan != null}">
                        <p:outputLabel value="Loan Balance" for="loanBalance"/>
                        <p:outputLabel id="loanBalance" value="#{membersController.loan.balEst}"/>
                        <p:outputLabel value="Members Deposits" for="depos"/>
                        <p:outputLabel id="depos" value="#{membersController.selected.totalDeposit}"/>
                        <p:outputLabel value="Balance To Recover From Guarantors" for="deposr"/>
                        <p:outputLabel id="deposr" value="#{membersController.recoverFromMembers}"/>
                    </p:panelGrid>
                    <p:dataTable style="width: 500px;" id="datalist" value="#{membersController.guaratorsRecovery}" var="item"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10" rowIndexVar="rowIndex"
                                 paginatorPosition="bottom"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Guarantors Name"/>
                            </f:facet>
                            <h:outputText value="#{item.guarantorId.surname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Guaranteed Amount"/>
                            </f:facet>
                            <h:outputText value="#{item.guaranteedAmount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Recoverable Amount"/>
                            </f:facet>
                            <h:outputText value="#{item.recoveredAmount}"/>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton actionListener="#{membersController.deduct}" value="#{bundle.Save}" update="display,:MembersListForm,:growl" oncomplete="handleSubmit(args, 'LoanPayDialog');" disabled="#{membersController.loan.loanStatus== true}"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoanPayDlg.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
