<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="ExpensesCreateDlg" widgetVar="ExpensesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateExpensesTitle}">
            <h:form id="ExpensesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{expensesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateExpensesLabel_narration}" for="memeberId" />
                        <p:selectOneMenu id="memeberId" value="#{expensesController.selected.narration}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_memeberId}">
                            <f:selectItems value="#{expensesCategoryController.itemsAvailableSelectOne}"
                                           var="memeberIdItem" itemLabel="#{memeberIdItem.title}"
                                           itemValue="#{memeberIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Payment Method" for="memeberIdd" />
                        <p:selectOneMenu id="memeberIdd" value="#{expensesController.selected.paymentMethod}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_memeberId}">
                            <f:selectItems value="#{expensesPaymentMethodController.itemsAvailableSelectOne}"
                                           var="memeberIdItemd" itemLabel="#{memeberIdItemd.method}"
                                           itemValue="#{memeberIdItemd}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateExpensesLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{expensesController.selected.amount}" title="#{bundle.CreateExpensesTitle_amount}" required="true" requiredMessage="#{bundle.CreateExpensesRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.CreateExpensesLabel_receiptNo}" for="receiptNo" />
                        <p:inputText id="receiptNo" value="#{expensesController.selected.receiptNo}" title="#{bundle.CreateExpensesTitle_receiptNo}" required="true" requiredMessage="#{bundle.CreateExpensesRequiredMessage_receiptNo}"/>
                        <p:outputLabel value="#{bundle.CreateExpensesLabel_dateIncured}" for="dateIncured" />
                        <p:calendar id="dateIncured" timeZone="Africa/Nairobi"  pattern="MM/dd/yyyy" value="#{expensesController.selected.dateIncured}" title="#{bundle.EditExpensesTitle_dateIncured}" required="true" requiredMessage="#{bundle.EditExpensesRequiredMessage_dateIncured}" showOn="button"/>
                        <p:outputLabel value="Comments" for="comments" />
                        <p:inputTextarea rows="4" cols="30" id="comments" value="#{expensesController.selected.description}" title="#{bundle.CreateFleetTitle_comments}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{expensesController.create}" value="#{bundle.Save}" update="display,:ExpensesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ExpensesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ExpensesCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
