<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ExpensesEditDlg" widgetVar="ExpensesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditExpensesTitle}">
            <h:form id="ExpensesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{expensesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditExpensesLabel_narration}" for="narration" />
                        <p:inputText id="narration" value="#{expensesController.selected.narration}" title="#{bundle.EditExpensesTitle_narration}" required="true" requiredMessage="#{bundle.EditExpensesRequiredMessage_narration}"/>
                        <p:outputLabel value="#{bundle.EditExpensesLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{expensesController.selected.amount}" title="#{bundle.EditExpensesTitle_amount}" required="true" requiredMessage="#{bundle.EditExpensesRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditExpensesLabel_receiptNo}" for="receiptNo" />
                        <p:inputText id="receiptNo" value="#{expensesController.selected.receiptNo}" title="#{bundle.EditExpensesTitle_receiptNo}" required="true" requiredMessage="#{bundle.EditExpensesRequiredMessage_receiptNo}"/>
                        <p:outputLabel value="#{bundle.EditExpensesLabel_dateIncured}" for="dateIncured" />
                        <p:calendar id="dateIncured" timeZone="Africa/Nairobi" pattern="MM/dd/yyyy" value="#{expensesController.selected.dateIncured}" title="#{bundle.EditExpensesTitle_dateIncured}" required="true" requiredMessage="#{bundle.EditExpensesRequiredMessage_dateIncured}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{expensesController.update}" value="#{bundle.Save}" update="display,:ExpensesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ExpensesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ExpensesEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
