<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoIncomeViewDlg" widgetVar="SaccoIncomeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSaccoIncomeTitle}">
            <h:form id="SaccoIncomeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoIncomeController.selected != null}">
                        <h:outputText value="#{bundle.ViewSaccoIncomeLabel_transactionNo}"/>
                        <h:outputText value="#{saccoIncomeController.selected.transactionNo}" title="#{bundle.ViewSaccoIncomeTitle_transactionNo}"/>
                        <h:outputText value="#{bundle.ViewSaccoIncomeLabel_dateCollected}"/>
                        <h:outputText value="#{saccoIncomeController.selected.dateCollected}" title="#{bundle.ViewSaccoIncomeTitle_dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewSaccoIncomeLabel_amount}"/>
                        <h:outputText value="#{saccoIncomeController.selected.amount}" title="#{bundle.ViewSaccoIncomeTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewSaccoIncomeLabel_id}"/>
                        <h:outputText value="#{saccoIncomeController.selected.id}" title="#{bundle.ViewSaccoIncomeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewSaccoIncomeLabel_source}"/>
                        <h:outputText value="#{saccoIncomeController.selected.source}" title="#{bundle.ViewSaccoIncomeTitle_source}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SaccoIncomeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
