<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DebtorsAccountLedgersEntriesCreateDlg" widgetVar="DebtorsAccountLedgersEntriesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDebtorsAccountLedgersEntriesTitle}">
            <h:form id="DebtorsAccountLedgersEntriesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{debtorsAccountLedgersEntriesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDebtorsAccountLedgersEntriesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{debtorsAccountLedgersEntriesController.selected.id}" title="#{bundle.CreateDebtorsAccountLedgersEntriesTitle_id}" required="true" requiredMessage="#{bundle.CreateDebtorsAccountLedgersEntriesRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateDebtorsAccountLedgersEntriesLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" value="#{debtorsAccountLedgersEntriesController.selected.dateWhen}" title="#{bundle.EditDebtorsAccountLedgersEntriesTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateDebtorsAccountLedgersEntriesLabel_dr}" for="dr" />
                        <p:inputText id="dr" value="#{debtorsAccountLedgersEntriesController.selected.dr}" title="#{bundle.CreateDebtorsAccountLedgersEntriesTitle_dr}" required="true" requiredMessage="#{bundle.CreateDebtorsAccountLedgersEntriesRequiredMessage_dr}"/>
                        <p:outputLabel value="#{bundle.CreateDebtorsAccountLedgersEntriesLabel_cr}" for="cr" />
                        <p:inputText id="cr" value="#{debtorsAccountLedgersEntriesController.selected.cr}" title="#{bundle.CreateDebtorsAccountLedgersEntriesTitle_cr}" required="true" requiredMessage="#{bundle.CreateDebtorsAccountLedgersEntriesRequiredMessage_cr}"/>
                        <p:outputLabel value="#{bundle.CreateDebtorsAccountLedgersEntriesLabel_debtorsAccountId}" for="debtorsAccountId" />
                        <p:selectOneMenu id="debtorsAccountId" value="#{debtorsAccountLedgersEntriesController.selected.debtorsAccountId}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_debtorsAccountId}">
                            <f:selectItems value="#{deptorsController.itemsAvailableSelectOne}"
                                           var="debtorsAccountIdItem"
                                           itemValue="#{debtorsAccountIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{debtorsAccountLedgersEntriesController.create}" value="#{bundle.Save}" update="display,:DebtorsAccountLedgersEntriesListForm:datalist,:growl" oncomplete="handleSubmit(args,'DebtorsAccountLedgersEntriesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DebtorsAccountLedgersEntriesCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
