<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DebtorsAccountLedgersEntriesViewDlg" widgetVar="DebtorsAccountLedgersEntriesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDebtorsAccountLedgersEntriesTitle}">
            <h:form id="DebtorsAccountLedgersEntriesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{debtorsAccountLedgersEntriesController.selected != null}">
                        <h:outputText value="#{bundle.ViewDebtorsAccountLedgersEntriesLabel_id}"/>
                        <h:outputText value="#{debtorsAccountLedgersEntriesController.selected.id}" title="#{bundle.ViewDebtorsAccountLedgersEntriesTitle_id}"/>
                        <h:outputText value="#{bundle.ViewDebtorsAccountLedgersEntriesLabel_dateWhen}"/>
                        <h:outputText value="#{debtorsAccountLedgersEntriesController.selected.dateWhen}" title="#{bundle.ViewDebtorsAccountLedgersEntriesTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewDebtorsAccountLedgersEntriesLabel_dr}"/>
                        <h:outputText value="#{debtorsAccountLedgersEntriesController.selected.dr}" title="#{bundle.ViewDebtorsAccountLedgersEntriesTitle_dr}"/>
                        <h:outputText value="#{bundle.ViewDebtorsAccountLedgersEntriesLabel_cr}"/>
                        <h:outputText value="#{debtorsAccountLedgersEntriesController.selected.cr}" title="#{bundle.ViewDebtorsAccountLedgersEntriesTitle_cr}"/>
                        <h:outputText value="#{bundle.ViewDebtorsAccountLedgersEntriesLabel_debtorsAccountId}"/>
                        <h:outputText value="#{debtorsAccountLedgersEntriesController.selected.debtorsAccountId}" title="#{bundle.ViewDebtorsAccountLedgersEntriesTitle_debtorsAccountId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DebtorsAccountLedgersEntriesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
