<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="#{userController.template}">

        <f:metadata>
            <f:viewAction action="#{userController.prepareChangeUserName}" />
        </f:metadata>
        <ui:define name="title">
            <h:outputText value="Change My Username"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Change My UserName
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/#{clerkController.appContext}/#{userController.dashBoardPath}/dashboard.htm">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> Change My UserName
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="UsersEditFormAdmin">
                <h:panelGroup id="display">
                    <p:panelGrid columns="1" rendered="#{!userController.isShowNewPassWordEntry}">
                        <p:inputText id="oldpass" value="#{userController.userOldPassword}" title="oldpass" required="true" requiredMessage="Please enter your password"/>
                        <p:watermark for="oldpass" value="Admin Password"/>
                        <p:commandButton actionListener="#{userController.compareUname()}" value="Reset" update=":growl,:UsersEditFormAdmin"/>
                    </p:panelGrid>
                    <p:panelGrid id="grid" columns="1" rendered="#{userController.isShowNewPassWordEntry}">
                        <p:inputText id="newpass" value="#{userController.selected.username}" title="New UserName" required="true" requiredMessage="New UserName Required"/>
                        <p:watermark for="newpass" value="New UserName"/>
                    </p:panelGrid>
                    <p:commandButton  onclick="if (! confirm('Are you sure?')) return false"  disabled="#{!userController.isShowNewPassWordEntry}" actionListener="#{userController.editUserAdminUserName()}" value="#{bundle.Save}" update="display,:UsersEditFormAdmin,:growl"/>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>