<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Batch Operations"></h:outputText>
        </ui:define>

        <ui:define name="body"><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Batch Operations <small>    Automate System operations</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-4">
                        <h:form id="CollectionsListForm">
                            <p:commandButton value="Update All Accounts" actionListener="#{membersController.closeAllAcoounts}" update=":growl">
                                <p:confirm header="Update All Resources.." message="Are You sure? This operation is critical and its not easily reversible....!!!!!#{membersController.confirmationMessage}" icon="ui-icon-alert"/>
                            </p:commandButton>
                        </h:form>
                    </div>
                </div>
            </div>
            <ui:include src="/confirmation.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
