<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CollectionsViewDlg" widgetVar="CollectionsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCollectionsTitle}">
            <h:form id="CollectionsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{collectionsController.selected != null}">
                        <h:outputText value="#{bundle.ViewCollectionsLabel_amount}"/>
                        <h:outputText value="#{collectionsController.selected.amount}" title="#{bundle.ViewCollectionsTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewCollectionsLabel_dateCollected}"/>
                        <h:outputText value="#{collectionsController.selected.dateCollected}" title="#{bundle.ViewCollectionsTitle_dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewCollectionsLabel_statusBilled}"/>
                        <p:selectBooleanCheckbox value="#{collectionsController.selected.statusBilled}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewCollectionsLabel_memberId}"/>
                        <h:outputText value="#{collectionsController.selected.memberId.surname}" title="#{bundle.ViewCollectionsTitle_memberId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CollectionsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
