<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepositCashCreateDlg" widgetVar="DepositCashCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDepositCashTitle}">
            <h:form id="DepositCashCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{depositCashController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_date}" for="date" />
                        <p:inputText id="date" value="#{depositCashController.selected.date}" title="#{bundle.CreateDepositCashTitle_date}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_date}"/>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_description}" for="description" />
                        <p:inputText id="description" value="#{depositCashController.selected.description}" title="#{bundle.CreateDepositCashTitle_description}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_transactedBy}" for="transactedBy" />
                        <p:inputText id="transactedBy" value="#{depositCashController.selected.transactedBy}" title="#{bundle.CreateDepositCashTitle_transactedBy}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_transactedBy}"/>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_chequeNo}" for="chequeNo" />
                        <p:inputText id="chequeNo" value="#{depositCashController.selected.chequeNo}" title="#{bundle.CreateDepositCashTitle_chequeNo}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_chequeNo}"/>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_id}" for="id" />
                        <p:inputText id="id" value="#{depositCashController.selected.id}" title="#{bundle.CreateDepositCashTitle_id}" required="true" requiredMessage="#{bundle.CreateDepositCashRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_memberNo}" for="memberNo" />
                        <p:selectOneMenu id="memberNo" value="#{depositCashController.selected.memberNo}" required="true" requiredMessage="#{bundle.EditDepositCashRequiredMessage_memberNo}">
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="memberNoItem"
                                           itemValue="#{memberNoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateDepositCashLabel_paymentMode}" for="paymentMode" />
                        <p:selectOneMenu id="paymentMode" value="#{depositCashController.selected.paymentMode}" required="true" requiredMessage="#{bundle.EditDepositCashRequiredMessage_paymentMode}">
                            <f:selectItems value="#{paymentModesController.itemsAvailableSelectOne}"
                                           var="paymentModeItem"
                                           itemValue="#{paymentModeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{depositCashController.create}" value="#{bundle.Save}" update="display,:DepositCashListForm:datalist,:growl" oncomplete="handleSubmit(args,'DepositCashCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DepositCashCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
