<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepositCashViewDlg" widgetVar="DepositCashViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDepositCashTitle}">
            <h:form id="DepositCashViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{depositCashController.selected != null}">
                        <h:outputText value="#{bundle.ViewDepositCashLabel_date}"/>
                        <h:outputText value="#{depositCashController.selected.date}" title="#{bundle.ViewDepositCashTitle_date}"/>
                        <h:outputText value="#{bundle.ViewDepositCashLabel_description}"/>
                        <h:outputText value="#{depositCashController.selected.description}" title="#{bundle.ViewDepositCashTitle_description}"/>
                        <h:outputText value="#{bundle.ViewDepositCashLabel_transactedBy}"/>
                        <h:outputText value="#{depositCashController.selected.transactedBy}" title="#{bundle.ViewDepositCashTitle_transactedBy}"/>
                        <h:outputText value="#{bundle.ViewDepositCashLabel_chequeNo}"/>
                        <h:outputText value="#{depositCashController.selected.chequeNo}" title="#{bundle.ViewDepositCashTitle_chequeNo}"/>
                        <h:outputText value="#{bundle.ViewDepositCashLabel_id}"/>
                        <h:outputText value="#{depositCashController.selected.id}" title="#{bundle.ViewDepositCashTitle_id}"/>
                        <h:outputText value="#{bundle.ViewDepositCashLabel_memberNo}"/>
                        <h:outputText value="#{depositCashController.selected.memberNo}" title="#{bundle.ViewDepositCashTitle_memberNo}"/>
                        <h:outputText value="#{bundle.ViewDepositCashLabel_paymentMode}"/>
                        <h:outputText value="#{depositCashController.selected.paymentMode}" title="#{bundle.ViewDepositCashTitle_paymentMode}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DepositCashViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
