<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:metadata>
            <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{userController.authorizedUserControl}"/>
        </f:metadata>
    <h:head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <h:outputStylesheet library="bootstrap/css" name="bootstrap-theme.min.css"/>
        <link href="resources/css/style_1.css" rel="stylesheet" media="screen"/>
        <h:outputScript library="js" name="bootstrap.min.js" />
        <!-- Bootstrap -->
    </h:head>
    <h:body  style="background-image: url(#{request.contextPath}/resources/images/background.jpg)">
        <div id="mainFrame">
<!--            <nav class="navbar navbar-inverse" role="navigation">
                 Brand and toggle get grouped for better mobile display 
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Kodcu.Com</a>
                </div>

                 Collect the nav links, forms, and other content for toggling 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home Page</a></li>
                        <li><a href="#{request.contextPath}/member/index.xhtml">Member Page</a></li>
                        <li><a href="#{request.contextPath}/admin/index.xhtml">Admin Page</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search"/>
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div> /.navbar-collapse 
            </nav>-->

            <div class="loginDiv">
                <div style="width: 320px; margin: auto">
                    <div class="panel panel-default">
                        <div class="panel-heading">Welcome. Please login here</div>
                        <br/>
                        <h:form prependId="false">

                            <h:messages showDetail="false" />
                            <h:panelGrid columnClasses="loginTD" columns="2" cellpadding="2" cellspacing="2">

                                <p>Username</p>
                                <h:inputText value="#{userController.username}"
                                             required="true" requiredMessage="The username value is required." size="30"/>

                                <p>Password</p>
                                <h:inputSecret value="#{userController.password}"
                                               required="true" requiredMessage="The password value is required." size="30"/>

                                <h:outputLabel/>
                                <h:panelGroup>
                                    <h:selectBooleanCheckbox value="#{userController.rememberMe}" />
                                    <p style=" display: inline; color: #cccccc; margin-left: 2px;">Remember me</p>
                                </h:panelGroup>
                                <h:outputLabel/>
                                <h:commandButton action="#{userController.loginUser}" styleClass="btn btn-primary" value="Login"/>
                                <br/>
                            </h:panelGrid>

                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>
