<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DebtorsEditDlg" widgetVar="DebtorsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDebtorsTitle}">
            <h:form id="DebtorsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{deptorsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDebtorsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{deptorsController.selected.id}" title="#{bundle.EditDebtorsTitle_id}" required="true" requiredMessage="#{bundle.EditDebtorsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditDebtorsLabel_deptorsName}" for="deptorsName" />
                        <p:inputText id="deptorsName" value="#{deptorsController.selected.deptorsName}" title="#{bundle.EditDebtorsTitle_deptorsName}" required="true" requiredMessage="#{bundle.EditDebtorsRequiredMessage_deptorsName}"/>
                        <p:outputLabel value="#{bundle.EditDebtorsLabel_description}" for="description" />
                        <p:inputText id="description" value="#{deptorsController.selected.description}" title="#{bundle.EditDebtorsTitle_description}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{deptorsController.update}" value="#{bundle.Save}" update="display,:DebtorsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DebtorsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DebtorsEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
