<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ScheduleStatusEditDlg" widgetVar="ScheduleStatusEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditScheduleStatusTitle}">
            <h:form id="ScheduleStatusEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{scheduleStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.EditScheduleStatusLabel_idscheduleStatus}" for="idscheduleStatus" />
                        <p:inputText id="idscheduleStatus" value="#{scheduleStatusController.selected.idscheduleStatus}" title="#{bundle.EditScheduleStatusTitle_idscheduleStatus}" required="true" requiredMessage="#{bundle.EditScheduleStatusRequiredMessage_idscheduleStatus}"/>
                        <p:outputLabel value="#{bundle.EditScheduleStatusLabel_status}" for="status" />
                        <p:inputText id="status" value="#{scheduleStatusController.selected.status}" title="#{bundle.EditScheduleStatusTitle_status}" required="true" requiredMessage="#{bundle.EditScheduleStatusRequiredMessage_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{scheduleStatusController.update}" value="#{bundle.Save}" update="display,:ScheduleStatusListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ScheduleStatusEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ScheduleStatusEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
