<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ScheduleStatusViewDlg" widgetVar="ScheduleStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewScheduleStatusTitle}">
            <h:form id="ScheduleStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{scheduleStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewScheduleStatusLabel_idscheduleStatus}"/>
                        <h:outputText value="#{scheduleStatusController.selected.idscheduleStatus}" title="#{bundle.ViewScheduleStatusTitle_idscheduleStatus}"/>
                        <h:outputText value="#{bundle.ViewScheduleStatusLabel_status}"/>
                        <h:outputText value="#{scheduleStatusController.selected.status}" title="#{bundle.ViewScheduleStatusTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ScheduleStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
